<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h3>Create Order</h3>
    <p class="text-muted">Create a new order by author name.</p>

    <form th:action="@{/order/create}" method="post">
        <div class="form-group">
            <label for="authorInput">Author Name</label>
            <input id="authorInput" name="author" type="text" class="form-control col-md-6" required>
        </div>
        <button id="createOrderButton" type="submit" class="btn btn-primary">Create</button>
        <a th:href="@{/order/history}" class="btn btn-outline-secondary ml-2">Order History</a>
    </form>
</div>
</body>
</html>
