<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Detail</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h3>Find Payment Detail</h3>
    <form id="paymentDetailForm" class="form-inline">
        <label class="mr-2" for="paymentIdInput">Payment ID</label>
        <input id="paymentIdInput" type="text" class="form-control mr-2" required>
        <button id="findPaymentButton" type="submit" class="btn btn-primary">Find</button>
    </form>
    <a th:href="@{/payment/admin/list}" class="btn btn-link mt-3 px-0">Go to Payment Admin</a>
</div>

<script>
    document.getElementById('paymentDetailForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const paymentId = document.getElementById('paymentIdInput').value;
        if (!paymentId) {
            return;
        }
        window.location.href = '/payment/detail/' + encodeURIComponent(paymentId);
    });
</script>
</body>
</html>
